@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#video-button-column img{
  margin-bottom: 10px;

}

.progress-bar {
  width: 90%;
  height: fit-content;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  padding-left: 2%;
}

.progress-bar .increment {
  width: 3.5%;
  aspect-ratio: 0.6;
  background-color: #4CAF50;
  border-radius: 40%;
  margin : 0.65%;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root{
  margin-top: 3vw !important;
  margin-bottom: 3vw !important;
}



.healhCard{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/1/16/DNA_orbit_animated.gif);
  background-repeat: no-repeat;
  background-position: right 30px top;
  

}
@font-face {
  font-family: "SanFrancisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  font-family: SanFrancisco;
  background-color: rgb(6,22,38);
  padding-bottom: 5vh;

}
.MuiTypography-root{
  color: rgb(198, 168, 56);

}

.MuiPaper-root{
  background-color: rgb(21,40,61) !important;
}

.MuiPaper-root.MuiPaper-elevation{
  background-color: rgb(38, 58, 80) !important;
}
p{
  color : rgb(187,188 , 189)  !important;

}

